img {
    width: 70px;
    padding-right: 12px;
}

.title-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.divider {
    border: 1px solid;
}

.search-padding {
    padding-right: 12px;
}